@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --header-height: 3.5rem;

  /*Colours*/
  --hue: 152;
  --first-color: hsl(31, 100%, 70%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(0, 0%, 99%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*Font and Tyography*/

  --body-font: "Roboto", sans-serif;

  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 700;

  /*Margin Bottom*/

  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*Z-index*/

  --z-tooltip: 10;
  --z-fixed: 100;
}

/*Responsive Typography*/

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*Base*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: 0;
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*Reusable CSS classes*/

.section {
  padding: 6.5rem 0 1rem;
}

.section__title {
  position: relative;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-3);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.container {
  max-width: 1024px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

/*Header & Nav Bar*/
.header {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__shop,
.nav__close {
  color: var(--title-color);
}

.nav__logo {
  text-transform: uppercase;
  font-weight: var(--font-medium);
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
}

.nav__logo-icon{
    font-size: 1.25rem;
}

.nav__btns{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav__toggle,
.nav__shop{
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .nav__menu{
        position: fixed;
        background-color: var(--body-color);
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 6rem 2rem 3.5rem;
        transition: .5s;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.nav__link{
    color: var(--title-color);
    font-weight: var(--font-medium);
    text-transform: uppercase;
    font-size: var(--h2-font-size);
    transition: .5s;
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__close{
    font-size: 2rem;
    position: absolute;
    top: .9rem;
    right: 1.25rem;
    cursor: pointer;
}

/*Show Menu*/

.show-menu{
    right: 0;
}

/*Change BACKGROUND hEADER*/

.scroll-header{
    background-color: var(--body-color);
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
}

/*Hero Section*/

.home__container{
    position: relative;
    row-gap: 2.5rem;
}

.home__img{
    width: 240px;
}

.home__img-bg{
    background-color: var(--first-color);
    width: 258px;
    height: 430px;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-self: flex-end;
    transform: translateX(1.5rem);
}

.home__social{
    position: absolute;
    top: 35%;
    left: -5rem;
    transform: rotate(-90deg);
    display: flex;
    column-gap: 1rem;
}

.home__social-link{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    transition: .5s;
}

.home__social-link:hover{
    color: var(--title-color);
}

.home__title{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-1);
}

.home__description{
    margin-bottom: var(--mb-1);
}

.home__price{
    display: inline-block;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    margin-bottom: var(--mb-2);
}

.button{
    display: inline-block;
    background-color: var(--button-color);
    color: #fff;
    padding: 1rem 1.5rem;
    font-weight: var(--font-medium);
}

/*Featured*/

.featured__container{
  row-gap: 2.5rem;
}

.featured_card{
  position: relative;
  text-align: center;
  background-color: var(--container-color);
  padding-top: 2rem;
  border: 1px solid var(--border-color);
  overflow-y: hidden;
}

.featured__tag{
  background-color: var(--first-color);
  padding: 0.5rem 1rem;
  color: white;
  text-transform: uppercase;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  transform: rotate(-90deg);
  left: -1rem;
  top: 3rem;
}

.featured__img{
  height: 214px;
  margin-bottom: var(--mb-1);
}

.featured__title, .featured__price{
  font-size: var(--h3-font-size);
}

.featured__title{
  text-transform: uppercase;
  margin-bottom: var(--mb-0-75);
}

.featured__price{
  display: block;
  color: var(--first-color);
}

.featured__button{
  font-size: var(--small-font-size);
  transform: translateY(1rem);
  opacity: 0;
}

.featured_card:hover{
  box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
  padding: 2rem 0 3rem 0;
}

.featured_card:hover .featured__button{
  transform: translateY(0);
  opacity: 1;
}

.featured_card:hover .featured__price{
  margin-bottom: var(--mb-1-5);
}

/*Newsletter*/

.newsletter__bg{
  background-color: var(--first-color);
  padding: 3rem 1.5rem;
  text-align: center;
  row-gap: 2.5rem;
}

.newsletter__title{
  font-size: var(--h1-font-size);
  color: hsl(0, 0%, 15%);
  margin-bottom: var(--mb-1-5);
}

.newsletter__description{
  color: hsl(0, 0%, 35%);
}

.newsletter__subscribe{
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
}

.newsletter__input{
  border: none;
  outline: none;
  background-color: hsl(0, 0%, 94%);
  padding: 1.2rem 1rem;
}

/*Breakpoints*/

@media screen and (max-width: 320px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__img-bg{
    width: 220px;
  }

  .home__title{
    font-size: var(--h1-font-size);
  }

  .home__button{
    font-size: var(--smaller-font-size);
  }
}

@media screen and (max-width: 576px){
  .home__img-bg{
    width: 340px;
  }

  .featured__container{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 767px){
  .section{
    padding: 8rem 0 1rem;
  }

  .nav{
    height: calc(3.5rem + 1.5rem);
    justify-content: initial;
    column-gap: 3rem;
  }

  .nav__toggle, .nav__close{
    display: none;
  }

  .nav__list{
    flex-direction: row;
    column-gap: 2.5rem;
  }

  .nav__link{
    text-transform: initial;
    font-size: var(--normal-font-size);
  }

  .nav__btns{
    margin-left: auto;
  }

  .home__container{
    padding-top: 6rem;
    grid-template-columns: 1fr max-content;
    align-items: center;
  }

  .home__img-bg{
    opacity: 1;
    transform: translate(1.5rem, -6rem);
  }

  .home__data{
    padding: 0 0 3rem 6rem;
  }

  .home__social{
    top: 47%;
    column-gap: 2rem;
  }

  .featured__price, .featured__title{
    font-size: var(--normal-font-size);
  }

  .newsletter__bg{
    text-align: initial;
    column-gap: 2rem;
    padding: 4.5rem;
  }

  .newsletter__subscribe{
    flex-direction: row;
  }

  .newsletter__input{
    width: 100%;
  }
}

@media screen and (min-width: 992px){
  .section__title{
    font-size: var(--h2-font-size);
  }

  .home__container{
    column-gap: 2rem;
  }

  .home__img-bg{
    width: 480px;
    height: 680px;
  }

  .home__img{
    width: 420px;
  }

  .home__social{
    left: -6rem;
  }

  .home__data{
    padding: 0 0 8rem 1rem;
  }

  .home__description{
    max-width: 500px;
  }

  .featured__container{
    grid-template-columns: repeat (3, 312px);
    padding-top: 2rem;
  }
}

@media screen and (min-width: 1024px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }
}

